
/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_PROPPAGE_VOLUME DIALOGEX 0, 0, 226, 203
STYLE WS_CHILD
FONT 8, "MS Shell Dlg 2", 0, 0, 0x1
BEGIN
    LTEXT           "Name:",IDC_NAME_LABEL,7,11,27,11,0,WS_EX_TRANSPARENT
    EDITTEXT        IDC_NAME,66,9,153,12,ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "",IDC_STATIC,"Static",SS_GRAYFRAME | SS_SUNKEN,18,100,
                    192,1
    LTEXT           "Type:",IDC_TYPE_LABEL,7,26,27,10,0,WS_EX_TRANSPARENT
    LTEXT           "File system:",IDC_FILESYSTEM_LABEL,7,40,43,10,0,WS_EX_TRANSPARENT
    LTEXT           "Used space:",IDC_USEDSPACE_LABEL,30,71,54,8,0,WS_EX_TRANSPARENT
    LTEXT           "Free space:",IDC_FREESPACE_LABEL,30,84,54,8,0,WS_EX_TRANSPARENT
    CONTROL         215,IDC_USEDSPACE_BLOCK,"Static",SS_OWNERDRAW | SS_SUNKEN,14,71,9,9
    CONTROL         216,IDC_FREESPACE_BLOCK,"Static",SS_OWNERDRAW | SS_SUNKEN,14,84,9,9
    LTEXT           "Capacity:",IDC_CAPACITY_LABEL,20,108,64,9,SS_CENTER,WS_EX_TRANSPARENT
    LTEXT           "",IDC_USEDSPACE,87,71,96,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_FREESPACE,87,85,96,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_CAPACITY,88,109,96,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_TYPE,66,26,153,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_FILESYSTEM,66,40,153,9,0,WS_EX_TRANSPARENT
    CONTROL         "",IDC_PIE,"Static",SS_OWNERDRAW,33,126,160,57,NOT WS_GROUP
    CONTROL         "",IDC_STATIC,"Static",SS_GRAYFRAME | SS_SUNKEN,18,189,
                    192,1
    LTEXT           "Flags:",IDC_FLAGS_LABEL,7,54,44,10,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_FLAGS,66,54,153,9,0,WS_EX_TRANSPARENT
END

IDD_PROPPAGE_ITEM DIALOGEX 0, 0, 225, 229
STYLE WS_CHILD
FONT 8, "MS Shell Dlg 2", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_FILENAME,43,11,162,13,WS_TABSTOP | ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "&Comment:",IDC_COMMENT_LABEL,10,34,51,9,0,
                    WS_EX_TRANSPARENT
    EDITTEXT        IDC_COMMENT,67,32,138,13,WS_TABSTOP | ES_AUTOHSCROLL | ES_READONLY
    CONTROL         "&Read-only",IDC_READONLY,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP | WS_DISABLED,65,181,66,10,WS_EX_TRANSPARENT
    CONTROL         "&Hidden",IDC_HIDDEN,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP | WS_DISABLED,139,181,39,10,WS_EX_TRANSPARENT
    ICON            "",IDC_APPICON,10,7,21,20
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,9,53,
                    203,1
    LTEXT           "Location:",IDC_LOCATION_LABEL,8,84,64,9,0,
                    WS_EX_TRANSPARENT
    LTEXT           "Size:",IDC_FILESIZE_LABEL,8,102,64,9,0,
                    WS_EX_TRANSPARENT
    LTEXT           "Size on disk:",IDC_FILESIZEONDISK_LABEL,8,119,64,9,0,
                    WS_EX_TRANSPARENT
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,9,138,
                    203,1
    LTEXT           "Modified:",IDC_MODIFIED_LABEL,8,150,64,9,0,
                    WS_EX_TRANSPARENT
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,9,169,
                    203,1
    LTEXT           "",IDC_MODIFIED,76,150,133,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_FILESIZEONDISK,76,119,133,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_FILESIZE,76,102,133,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_LOCATION,76,84,133,9,SS_PATHELLIPSIS,WS_EX_TRANSPARENT
    LTEXT           "Attributes:",IDC_ATTRIBUTES_LABEL,8,181,49,9,0,
                    WS_EX_TRANSPARENT
    CONTROL         "",IDC_STATIC,"Static",SS_BLACKFRAME | SS_SUNKEN,9,76,
                    203,1
    LTEXT           "Type:",IDC_TYPE_LABEL,8,61,64,9,0,WS_EX_TRANSPARENT
    LTEXT           "",IDC_TYPE,76,61,133,9,0,WS_EX_TRANSPARENT
END


