
/////////////////////////////////////////////////////////////////////////////
//
// REGISTRY
//

IDR_SHELLFOLDER              REGISTRY DISCARDABLE    "../ShFrwk/res/ShellFolder.rgs"
IDR_SHELL_LOC_ROOTED         REGISTRY DISCARDABLE    "../ShFrwk/res/ShellLocRooted.rgs"
IDR_SHELL_LOC_JUNCTION       REGISTRY DISCARDABLE    "../ShFrwk/res/ShellLocJunction.rgs"
IDR_SHELL_ROOT_SENDTO        REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootSendTo.rgs"
IDR_SHELL_ROOT_PREVIEW       REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootPreview.rgs"
IDR_SHELL_ROOT_SHELLNEW      REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootShellNew.rgs"
IDR_SHELL_ROOT_PROPSHEET     REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootPropsheet.rgs"
IDR_SHELL_ROOT_DROPTARGET    REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootDropTarget.rgs"
IDR_SHELL_ROOT_URLPROTOCOL   REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootUrlProtocol.rgs"
IDR_SHELL_ROOT_CONTEXTMENU   REGISTRY DISCARDABLE    "../ShFrwk/res/ShellRootContextMenu.rgs"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
   IDS_PAGE_VOLUME         "Volume"
   IDS_PAGE_ITEM           "General"
   IDS_READONLY            "&Read-only"
   IDS_HIDDEN              "&Hidden"
   IDS_MULTIPLEVALUES      "(multiple values)"
END

